.calculadora {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: lightcyan;
  border-radius: 10px;

  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 50px 50px 50px 50px;
}
.calculadora button {
  margin: 5px 5px 5px 5px;
}

.calculadora p {
  color: black;
  grid-column: span 4;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  font-size: 20px;
}

.sum {
  grid-row: span 2;
}

.cero {
  grid-column: span 2;
}

.solution {
  grid-row: span 2;
}